
<% sensor = get_aggregate_sensor('Energy Consumption') %>

<% if sensor %>

    <section class="chart-container">

      <h2><%= sensor.sensor_type_unit.sensor_type.name %></h2>

      <div id="chart<%= sensor.id %>" class="dashboard-chart-div epoch"></div>
    </section>

    <%= javascript_tag defer: 'defer' do %>

        createSensorLineChart("<%= sensor.uuid %>", "chart<%= sensor.id %>");
    <% end %>
<% end %>

<% sensor = get_aggregate_sensor('Energy Production') %>

<% if sensor %>

    <section class="chart-container">

      <h2><%= sensor.sensor_type_unit.sensor_type.name %></h2>

      <div id="chart<%= sensor.id %>" class="dashboard-chart-div epoch"></div>
    </section>

    <%= javascript_tag defer: 'defer' do %>

        createSensorLineChart("<%= sensor.uuid %>", "chart<%= sensor.id %>");
    <% end %>
<% end %>
