<% sensor = get_aggregate_sensor('sensor.type.energy_consumption') %>

<% if sensor %>

    <section class="chart-container">

      <h2><%= t('sensor.type.energy_consumption') %></h2>

      <div id="chart<%= sensor.id %>" class="dashboard-chart-div epoch"></div>
    </section>

    <%= javascript_tag defer: 'defer' do %>

        createSensorLineChart("<%= sensor.uuid %>", "chart<%= sensor.id %>");
    <% end %>
<% end %>

<% sensor = get_aggregate_sensor('sensor.type.energy_production') %>

<% if sensor %>

    <section class="chart-container">

      <h2><%= t('sensor.type.energy_production') %></h2>

      <div id="chart<%= sensor.id %>" class="dashboard-chart-div epoch"></div>
    </section>

    <%= javascript_tag defer: 'defer' do %>

        createSensorLineChart("<%= sensor.uuid %>", "chart<%= sensor.id %>");
    <% end %>
<% end %>
