<% provide(:title, 'Help') %>
<h1><%= t('title.help') %></h1>
<p>
  <%= t('title.help') %>

  <%= t('message.get_help') %>
  <a href="https://www.mysmartgrid.de/content/h%C3%A4ufige-fragen-und-antworten"><%= t('link.faq') %></a> <%= t('label.and') %>
  <a href="https://www.mysmartgrid.de/forum"><%= t('link.forum') %></a>.
</p>
