<div class="logo-div">
  <%= link_to image_tag('logo.png', alt: 'mySmartGrid'), 'https://www.mysmartgrid.de' %>
</div>

<div class="center hero-unit">
  <h1><%= t('home.title') %></h1>

  <h2>
    <%= t('home.subtitle.a') %><br>
    <%= t('home.subtitle.b') %>
  </h2>
</div>

<div class="demo-illustration-div">
  <%= image_tag('welcome.jpg', alt: 'Welcome') %>
</div>

<section class="chart-container">

  <div id="demoGauge" class="demo-chart-div"></div>

  <div class="demo-chart-description-div">

    <h1><%= t('home.paragraph.a') %></h1>

    <p><%= t('home.paragraph.b') %></p>

    <p><%= t('home.paragraph.c') %></p>
  </div>
</section>

<section class="chart-container">

  <div id="demoChart" class="demo-chart-div epoch"></div>

  <div class="demo-chart-description-div">

    <p><%= t('home.paragraph.d') %></p>

    <p><%= t('home.paragraph.e') %></p>

    <h1><%= t('home.paragraph.f') %> <%= link_to t('link.feedback'), 'https://www.mysmartgrid.de/node/350' %>.</h1>
  </div>
</section>

<%= javascript_tag defer: 'defer' do %>

    var sensorId = "d1d1d1d1d1d1d1d1s1s1s1s1s1s1s1s1";

    createSensorGauge(sensorId, "demoGauge", "<%= t('device.kettle') %>", "W", 0, 600);
    createSensorLineChart(sensorId, "demoChart");
<% end %>


