<% provide(:title, t('title.device.update')) %>
<h1><%= t('title.device.update') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@device) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit t('caption.save'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
