<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <p><b><%= t('helpers.label.user.member_since') %>:</b> <%= @user.created_at %></p>

      <p><b><%= t('helpers.label.user.email') %>:</b> <%= @user.email %></p>
    </section>
    <section>
      <p><%= t('message.you_have') %>
        <%= link_to @user.devices.size, devices_path %>
        <%= t('message.active_devices') %>.</p>
    </section>
  </aside>
</div>
