<li>
  <div>
    <%= image_tag("sensor_type#{sensor.sensor_type_id}.png", alt: 'Sensor') %>
    <%= sensor.name %>
  </div>
  <span>
      <%= link_to 'details', sensor %> |
    <%= link_to 'edit', edit_sensor_path(sensor) %> |
    <%= link_to 'delete', sensor, method: :delete, data: {confirm: 'Are you sure?'} %>
  </span>
</li>