<% provide(:title, t('title.sensor.update')) %>
<h1><%= t('title.sensor.update') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@sensor) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :sensor_type %>
        <%= f.collection_select :sensor_type_unit_id, ::SensorTypeUnit.all, :id, :name %>

        <%= f.label :min_value %>
        <%= f.number_field :min_value %>

        <%= f.label :max_value %>
        <%= f.number_field :max_value %>

        <%= f.submit t('caption.save'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
