<% provide(:title, @sensor.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>
        <%= image_tag("device_type#{@sensor.device.device_type_id}.png", alt: 'Device') %>

        <%= @sensor.device.device_type.name %>
      </p>
      <h1>
        <%= @sensor.device.name %>
      </h1>
      <p>
        <%= image_tag("sensor_type#{@sensor.sensor_type_id}.png", alt: 'Sensor') %>

        <%= @sensor.sensor_type.name %>
      </p>
      <h1>
        <%= @sensor.name %>
      </h1>
      <p>
        <br>
        <b>Unit:</b> <%= @sensor.unit.name %>
      </p>
      <p>
        <b>UUID:</b> <%= @sensor.uuid %>
      </p>
      <p>
        <b>Created:</b> <%= @sensor.created_at %>
      </p>
      <p>
        <b>Updated:</b> <%= @sensor.updated_at %>
      </p>
    </section>
  </aside>
</div>
